<div class="example-container">
  <mat-form-field hintLabel="Max 30 caracteres">
    <input matInput #input maxlength="30" placeholder="Ingrese su Nombre(s)">
    <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
  </mat-form-field>

  <mat-form-field hintLabel="Max 20 characters">
    <input matInput #input maxlength="20" placeholder="Ingrese Su Primer Apellido">
    <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
  </mat-form-field>

  <mat-form-field hintLabel="Max 20 characters">
    <input matInput #input maxlength="20" placeholder="Ingrese Su Segundo Apellido">
    <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput #input maxlength="20" placeholder="Cédula de Identidad">
  </mat-form-field>

  <mat-form-field hintLabel="Max 50 characters">
    <input matInput #input maxlength="50" placeholder="Direccion">
    <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
  </mat-form-field>

  <mat-form-field hintLabel="Max 10 characters">
    <input matInput #input maxlength="10" placeholder="Teléfono">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Selecciona un Rating">
      <mat-option value="option">0</mat-option>
      <mat-option value="option">1</mat-option>
      <mat-option value="option">2</mat-option>
      <mat-option value="option">3</mat-option>
      <mat-option value="option">4</mat-option>
      <mat-option value="option">5</mat-option>
    </mat-select>
  </mat-form-field>
</div>